# Top-most EditorConfig file:
root = true

# All files:
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

# Files that use tab for indention:
[*.{py,spec,toml}]
indent_style = tab

# JSON overrides:
[*.{json,json.sample,json.schema}]
end_of_line = lf
insert_final_newline = unset
