* text=auto
*.css text eol=crlf
*.htm text eol=crlf
*.html text eol=crlf
*.in text eol=crlf
*.jpg -text
*.json.sample text eol=lf
*.json.schema text eol=crlf
*.md text eol=crlf
*.png -text
*.py text eol=crlf
*.pys text eol=crlf
*.pyw text eol=crlf
*.spec text eol=crlf
*.toml text eol=crlf
*.txt text eol=crlf
*.xcf -text
*.yaml text eol=crlf
*.yml text eol=crlf
.gitattributes text eol=crlf
.gitignore text eol=crlf
data/config.json.sample text eol=crlf
Pipfile text eol=crlf
