[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = {extras = ["toml"], version = "*"}
flake8 = "*"
flake8-tabs = "*"
fuzzywuzzy-stubs = "*"
isort = {version = "==5.7.0"}
mkdocs = {version = "==1.1.2"}
mkdocs-material = {version = "==6.2.3"}
mkdocstrings = {version = "==0.13.6"}
mypy = "*"
pre-commit = "*"
PyInstaller = "*"
pytkdocs = {git = "https://github.com/nstockton/pytkdocs.git", ref = "tab-indentation-parser"}
tan = {git = "https://github.com/nstockton/tan.git", ref = "personal"}

[packages]
boltons = "*"
certifi = "*"
fuzzywuzzy = "*"
jsonschema = "*"
pyglet = "*"
python-Levenshtein = "*"
python-rapidjson = "*"
speechlight = "*"
typed-argument-parser = "*"
