coverage[toml]
flake8
flake8-tabs==2.2.2
fuzzywuzzy-stubs
isort==5.7.0
mkdocs==1.2.2
mkdocs-material==7.2.5
mkdocstrings==0.14.0
mypy
pre-commit
PyInstaller==4.1
git+https://github.com/nstockton/pytkdocs.git@tab-indentation-parser#egg=pytkdocs
git+https://github.com/nstockton/tan.git@personal#egg=tan
types-certifi
types-jsonschema
