boltons
certifi
fuzzywuzzy
jsonschema
git+https://github.com/nstockton/mud-protocols.git@v0.2.1#egg=mud-protocols
pyglet
python-Levenshtein
python-rapidjson
speechlight
typed-argument-parser
typing-extensions
