coverage[toml]
flake8
flake8-tabs
isort==5.7.0
mkdocs==1.1.2
mkdocs-material==6.2.3
mkdocstrings==0.13.6
mypy
pre-commit
PyInstaller
git+https://github.com/nstockton/pytkdocs.git@tab-indentation-parser#egg=pytkdocs
git+https://github.com/nstockton/tan.git#egg=tan
